.speech{ 
    font-style: oblique;
    font-size: small;
    color: black;
}

.direction{
    font-style: italic;
    font-size: small;
    color: black;
    background-color:skyblue;
}
.direction:hover {
    color: red;
    background-color: aliceblue;
}
.MRS_X{
    color: blue;
}
.MISS_Y{
    color: green;
}

