.speech{ 
    font-style: oblique;
    font-size: medium;
    color: black;
}

.direction{
    font-style: italic;
    font-size: medium;
    color: black;
    background-color:skyblue;
}
.direction:hover {
    color: rgb(186, 240, 9);
    background-color: rgb(67, 58, 2);
}
.MRS_X{
    color: blue;
}
.MISS_Y{
    color: green;
}
table,th,td{
    border: 5px solid coral;
    border-collapse: collapse;
    text-align: center;
    font-size: medium;
    padding: 5px;
    margin: 5px;
}
tr:nth-child(even){
    background-color: cornflowerblue;
}

